# AI Context folder
ai-Context/

kmk_firmware-main/.dockerignore
kmk_firmware-main/.gitignore
kmk_firmware-main/.s3cfg
kmk_firmware-main/boot.py
kmk_firmware-main/build_kmkpython_release.sh
kmk_firmware-main/code.py
kmk_firmware-main/Dockerfile
kmk_firmware-main/kmkpython_ref.tsv
kmk_firmware-main/LICENSE.md
kmk_firmware-main/Makefile
kmk_firmware-main/pyproject.toml
kmk_firmware-main/README.md
kmk_firmware-main/.devcontainer/devcontainer.json
kmk_firmware-main/.github/ISSUE_TEMPLATE/bug_report.md
kmk_firmware-main/.github/ISSUE_TEMPLATE/config.yml
kmk_firmware-main/.github/ISSUE_TEMPLATE/feature_request.md
kmk_firmware-main/.github/workflows/compile.yml
kmk_firmware-main/.github/workflows/spellcheck.yml
kmk_firmware-main/.github/workflows/test.yml
kmk_firmware-main/boards/__init__.py
kmk_firmware-main/boards/42keebs/rev57lp/kb.py
kmk_firmware-main/boards/42keebs/rev57lp/main.py
kmk_firmware-main/boards/Pico14/kb.py
kmk_firmware-main/boards/Pico14/main.py
kmk_firmware-main/boards/Pico14/README.md
kmk_firmware-main/boards/Pico87/kb.py
kmk_firmware-main/boards/Pico87/main.py
kmk_firmware-main/boards/ZFR_KBD/RP2.65-F/kb.py
kmk_firmware-main/boards/a_dux/kb.py
kmk_firmware-main/boards/a_dux/main.py
kmk_firmware-main/boards/anavi/anavi-arrows/arrows.py
kmk_firmware-main/boards/anavi/anavi-arrows/code.py
kmk_firmware-main/boards/anavi/anavi-arrows/README.md
kmk_firmware-main/boards/anavi/knob1/__init__.py
kmk_firmware-main/boards/anavi/knob1/code.py
kmk_firmware-main/boards/anavi/knob1/README.md
kmk_firmware-main/boards/anavi/knobs3/__init__.py
kmk_firmware-main/boards/anavi/knobs3/code.py
kmk_firmware-main/boards/anavi/knobs3/README.md
kmk_firmware-main/boards/anavi/macro-pad-10/code.py
kmk_firmware-main/boards/anavi/macro-pad-10/README.md
kmk_firmware-main/boards/anavi/macro-pad-12/code.py
kmk_firmware-main/boards/anavi/macro-pad-12/README.md
kmk_firmware-main/boards/atreus62/kb.py
kmk_firmware-main/boards/atreus62/main.py
kmk_firmware-main/boards/atreus62/README.md
kmk_firmware-main/boards/boardsource/3x4/kb.py
kmk_firmware-main/boards/boardsource/3x4/main.py
kmk_firmware-main/boards/boardsource/3x4/README.md
kmk_firmware-main/boards/boardsource/4x12/kb.py
kmk_firmware-main/boards/boardsource/4x12/main.py
kmk_firmware-main/boards/boardsource/4x12/README.md
kmk_firmware-main/boards/boardsource/5x12/kb.py
kmk_firmware-main/boards/boardsource/5x12/main.py
kmk_firmware-main/boards/boardsource/5x12/README.md
kmk_firmware-main/boards/boardsource/Lulu/kb.py
kmk_firmware-main/boards/boardsource/Lulu/main.py
kmk_firmware-main/boards/boardsource/Lulu/README.md
kmk_firmware-main/boards/boardsource/microdox/kb.py
kmk_firmware-main/boards/boardsource/microdox/main.py
kmk_firmware-main/boards/boardsource/microdox/README.md
kmk_firmware-main/boards/boardsource/unicorne/kb.py
kmk_firmware-main/boards/boardsource/unicorne/main.py
kmk_firmware-main/boards/boardsource/unicorne/README.md
kmk_firmware-main/boards/budgy/kb.py
kmk_firmware-main/boards/budgy/keymap_sw.py
kmk_firmware-main/boards/budgy/keymap_us.py
kmk_firmware-main/boards/budgy/main.py
kmk_firmware-main/boards/budgy/README.md
kmk_firmware-main/boards/crkbd/kb.py
kmk_firmware-main/boards/crkbd/main.py
kmk_firmware-main/boards/crkbd/README.md
kmk_firmware-main/boards/crowboard/kb.py
kmk_firmware-main/boards/crowboard/main.py
kmk_firmware-main/boards/crowboard/README.md
kmk_firmware-main/boards/dactyl/kb.py
kmk_firmware-main/boards/dactyl/main.py
kmk_firmware-main/boards/dactyl/README.md
kmk_firmware-main/boards/dactyl_lightcycle/kb.py
kmk_firmware-main/boards/dactyl_lightcycle/main.py
kmk_firmware-main/boards/dactyl_lightcycle/README.md
kmk_firmware-main/boards/dactyl_manuform/README.md
kmk_firmware-main/boards/dactyl_manuform/4x5/kb.py
kmk_firmware-main/boards/dactyl_manuform/4x5/main.py
kmk_firmware-main/boards/dactyl_manuform/4x6/kb.py
kmk_firmware-main/boards/dactyl_manuform/4x6/main.py
kmk_firmware-main/boards/dactyl_manuform/5x6/kb.py
kmk_firmware-main/boards/dactyl_manuform/5x6/main.py
kmk_firmware-main/boards/dactyl_manuform/5x7/kb.py
kmk_firmware-main/boards/dactyl_manuform/5x7/main.py
kmk_firmware-main/boards/dactyl_manuform/6x6/kb.py
kmk_firmware-main/boards/dactyl_manuform/6x6/main.py
kmk_firmware-main/boards/dactyl_manuform/6x7/kb.py
kmk_firmware-main/boards/dactyl_manuform/6x7/main.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/README.md
kmk_firmware-main/boards/dactyl_manuform_carbonfet/4x5/kb.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/4x5/main.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/4x6/kb.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/4x6/main.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/5x6/kb.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/5x6/main.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/5x7/kb.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/5x7/main.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/6x6/kb.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/6x6/main.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/6x7/kb.py
kmk_firmware-main/boards/dactyl_manuform_carbonfet/6x7/main.py
kmk_firmware-main/boards/dactyl_manuform_mini/README.md
kmk_firmware-main/boards/dactyl_manuform_mini/4x5/kb.py
kmk_firmware-main/boards/dactyl_manuform_mini/4x5/main.py
kmk_firmware-main/boards/dactyl_manuform_mini/4x6/kb.py
kmk_firmware-main/boards/dactyl_manuform_mini/4x6/main.py
kmk_firmware-main/boards/dactyl_manuform_mini/5x6/kb.py
kmk_firmware-main/boards/dactyl_manuform_mini/5x6/main.py
kmk_firmware-main/boards/dactyl_manuform_mini/5x7/kb.py
kmk_firmware-main/boards/dactyl_manuform_mini/5x7/main.py
kmk_firmware-main/boards/dactyl_manuform_mini/6x6/kb.py
kmk_firmware-main/boards/dactyl_manuform_mini/6x6/main.py
kmk_firmware-main/boards/dactyl_manuform_mini/6x7/kb.py
kmk_firmware-main/boards/dactyl_manuform_mini/6x7/main.py
kmk_firmware-main/boards/dactyl_maximus/kb.py
kmk_firmware-main/boards/dactyl_maximus/main.py
kmk_firmware-main/boards/dactyl_maximus/README.md
kmk_firmware-main/boards/dactyl_tracer/kb.py
kmk_firmware-main/boards/dactyl_tracer/main.py
kmk_firmware-main/boards/dactyl_tracer/README.md
kmk_firmware-main/boards/draculad/kb.py
kmk_firmware-main/boards/draculad/main.py
kmk_firmware-main/boards/draculad/README.md
kmk_firmware-main/boards/ergo_travel/kb.py
kmk_firmware-main/boards/ergo_travel/main.py
kmk_firmware-main/boards/ergo_travel/README.md
kmk_firmware-main/boards/ferris_sweep/kb.py
kmk_firmware-main/boards/ferris_sweep/main.py
kmk_firmware-main/boards/ferris_sweep/README.md
kmk_firmware-main/boards/fingerpunch/ffkb/README.md
kmk_firmware-main/boards/fingerpunch/ffkb/nice_nano/kb.py
kmk_firmware-main/boards/fingerpunch/ffkb/nice_nano/main.py
kmk_firmware-main/boards/fingerpunch/ffkb/other_pro_micro/kb.py
kmk_firmware-main/boards/fingerpunch/ffkb/other_pro_micro/main.py
kmk_firmware-main/boards/fourtypercentclub/__init__.py
kmk_firmware-main/boards/fourtypercentclub/gherkin/kb.py
kmk_firmware-main/boards/fourtypercentclub/gherkin/main.py
kmk_firmware-main/boards/fourtypercentclub/gherkin/README.md
kmk_firmware-main/boards/fourtypercentclub/luddite/kb.py
kmk_firmware-main/boards/fourtypercentclub/luddite/main.py
kmk_firmware-main/boards/fourtypercentclub/luddite/README.md
kmk_firmware-main/boards/gtips/reviung34/kb.py
kmk_firmware-main/boards/gtips/reviung34/main.py
kmk_firmware-main/boards/gtips/reviung34/README.md
kmk_firmware-main/boards/gtips/reviung39/kb.py
kmk_firmware-main/boards/gtips/reviung39/main.py
kmk_firmware-main/boards/gtips/reviung39/README.md
kmk_firmware-main/boards/gtips/reviung41/kb.py
kmk_firmware-main/boards/gtips/reviung41/main.py
kmk_firmware-main/boards/gtips/reviung41/README.md
kmk_firmware-main/boards/helix/kb.py
kmk_firmware-main/boards/helix/main.py
kmk_firmware-main/boards/helix/README.md
kmk_firmware-main/boards/hillside/README.md
kmk_firmware-main/boards/hillside/46/kb.py
kmk_firmware-main/boards/hillside/46/main.py
kmk_firmware-main/boards/hillside/48/kb.py
kmk_firmware-main/boards/hillside/48/main.py
kmk_firmware-main/boards/hillside/52/kb.py
kmk_firmware-main/boards/hillside/52/main.py
kmk_firmware-main/boards/hillside/56/kb.py
kmk_firmware-main/boards/hillside/56/main.py
kmk_firmware-main/boards/isopad/kb.py
kmk_firmware-main/boards/isopad/main.py
kmk_firmware-main/boards/jpconstantineau/Batreus44/kb_BlueMicro840.py
kmk_firmware-main/boards/jpconstantineau/Batreus44/README.md
kmk_firmware-main/boards/jpconstantineau/PyKey60/kb.py
kmk_firmware-main/boards/jpconstantineau/PyKey60/README.md
kmk_firmware-main/boards/jpconstantineau/gridmx47/kb.py
kmk_firmware-main/boards/jpconstantineau/gridmx47/README.md
kmk_firmware-main/boards/jpconstantineau/offsetmx43/kb.py
kmk_firmware-main/boards/jpconstantineau/offsetmx43/README.md
kmk_firmware-main/boards/jpconstantineau/vcolchoc44/kb.py
kmk_firmware-main/boards/jpconstantineau/vcolchoc44/README.md
kmk_firmware-main/boards/jpconstantineau/vcolmx44/kb.py
kmk_firmware-main/boards/jpconstantineau/vcolmx44/README.md
kmk_firmware-main/boards/keebio/iris/kb_converter.py
kmk_firmware-main/boards/keebio/iris/kb.py
kmk_firmware-main/boards/keebio/iris/main.py
kmk_firmware-main/boards/keebio/iris/README.md
kmk_firmware-main/boards/keebio/levinson/kb_converter.py
kmk_firmware-main/boards/keebio/levinson/kb.py
kmk_firmware-main/boards/keebio/levinson/main.py
kmk_firmware-main/boards/keebio/levinson/README.md
kmk_firmware-main/boards/keebio/nyquist/kb_converter.py
kmk_firmware-main/boards/keebio/nyquist/kb.py
kmk_firmware-main/boards/keebio/nyquist/main.py
kmk_firmware-main/boards/keebio/nyquist/README.md
kmk_firmware-main/boards/kyria/kb_v1.py
kmk_firmware-main/boards/kyria/main.py
kmk_firmware-main/boards/kyria/README.md
kmk_firmware-main/boards/lily58/kb.py
kmk_firmware-main/boards/lily58/main.py
kmk_firmware-main/boards/lily58/README.md
kmk_firmware-main/boards/lunakey_pico/kb.py
kmk_firmware-main/boards/lunakey_pico/main.py
kmk_firmware-main/boards/lunakey_pico/README.md
kmk_firmware-main/boards/may_pad/kb.py
kmk_firmware-main/boards/may_pad/main.py
kmk_firmware-main/boards/may_pad/README.md
kmk_firmware-main/boards/navi10/kb.py
kmk_firmware-main/boards/navi10/main.py
kmk_firmware-main/boards/navi10/README.md
kmk_firmware-main/boards/nullbitsco/README.md
kmk_firmware-main/boards/nullbitsco/tidbit/kb.py
kmk_firmware-main/boards/nullbitsco/tidbit/main.py
kmk_firmware-main/boards/nullbitsco/tidbit/README.md
kmk_firmware-main/boards/osprette/kb.py
kmk_firmware-main/boards/osprette/main.py
kmk_firmware-main/boards/osprette/README.md
kmk_firmware-main/boards/pimoroni/__init__.py
kmk_firmware-main/boards/pimoroni/README.md
kmk_firmware-main/boards/pimoroni/keybow/__init__.py
kmk_firmware-main/boards/pimoroni/keybow/code.py
kmk_firmware-main/boards/pimoroni/keybow/keybow.py
kmk_firmware-main/boards/pimoroni/keybow_2040/__init__.py
kmk_firmware-main/boards/pimoroni/keybow_2040/code.py
kmk_firmware-main/boards/pimoroni/keybow_2040/is31fl3731_pixelbuf.py
kmk_firmware-main/boards/pimoroni/keybow_2040/keybow_2040_rgb.py
kmk_firmware-main/boards/pimoroni/keybow_2040/keybow_2040.py
kmk_firmware-main/boards/psion/code.py
kmk_firmware-main/boards/psion/layout_swe.py
kmk_firmware-main/boards/psion/layout_uk.py
kmk_firmware-main/boards/psion/README.md
kmk_firmware-main/boards/redox/kb.py
kmk_firmware-main/boards/redox/main.py
kmk_firmware-main/boards/redox/README.md
kmk_firmware-main/boards/rhymestone/kb.py
kmk_firmware-main/boards/rhymestone/main.py
kmk_firmware-main/boards/rhymestone/README.md
kmk_firmware-main/boards/scottokeebs/README.md
kmk_firmware-main/boards/scottokeebs/scotto34/kb.py
kmk_firmware-main/boards/scottokeebs/scotto34/main.py
kmk_firmware-main/boards/scottokeebs/scotto34/README.md
kmk_firmware-main/boards/scottokeebs/scottoalp/kb.py
kmk_firmware-main/boards/scottokeebs/scottoalp/main.py
kmk_firmware-main/boards/scottokeebs/scottoalp/README.md
kmk_firmware-main/boards/scottokeebs/scottoergo/kb.py
kmk_firmware-main/boards/scottokeebs/scottoergo/main.py
kmk_firmware-main/boards/scottokeebs/scottoergo/README.md
kmk_firmware-main/boards/scottokeebs/scottofly/kb.py
kmk_firmware-main/boards/scottokeebs/scottofly/main.py
kmk_firmware-main/boards/scottokeebs/scottofly/README.md
kmk_firmware-main/boards/scottokeebs/scottoinvader/kb.py
kmk_firmware-main/boards/scottokeebs/scottoinvader/main.py
kmk_firmware-main/boards/scottokeebs/scottoinvader/README.md
kmk_firmware-main/boards/scottokeebs/scottolong/kb.py
kmk_firmware-main/boards/scottokeebs/scottolong/main.py
kmk_firmware-main/boards/scottokeebs/scottolong/README.md
kmk_firmware-main/boards/scottokeebs/scottoslant/kb.py
kmk_firmware-main/boards/scottokeebs/scottoslant/main.py
kmk_firmware-main/boards/scottokeebs/scottoslant/README.md
kmk_firmware-main/boards/sofle/sofleV2/kb.py
kmk_firmware-main/boards/sofle/sofleV2/main.py
kmk_firmware-main/boards/sofle/sofleV2/README.md
kmk_firmware-main/boards/splitkb/aurora/lily58/kb.py
kmk_firmware-main/boards/splitkb/aurora/lily58/main.py
kmk_firmware-main/boards/splitkb/aurora/lily58/README.md
kmk_firmware-main/boards/subrezon/lancer/kb.py
kmk_firmware-main/boards/subrezon/lancer/main.py
kmk_firmware-main/boards/subrezon/lancer/README.md
kmk_firmware-main/boards/tg4x/kb.py
kmk_firmware-main/boards/tg4x/main.py
kmk_firmware-main/boards/tg4x/README.md
kmk_firmware-main/boards/zodiark/kb.py
kmk_firmware-main/boards/zodiark/main.py
kmk_firmware-main/boards/zodiark/README.md
kmk_firmware-main/docs/en/adns9800.md
kmk_firmware-main/docs/en/analogin.md
kmk_firmware-main/docs/en/ble_hid.md
kmk_firmware-main/docs/en/boot.md
kmk_firmware-main/docs/en/capsword.md
kmk_firmware-main/docs/en/cg_swap.md
kmk_firmware-main/docs/en/combo_layers.md
kmk_firmware-main/docs/en/combos.md
kmk_firmware-main/docs/en/config_and_keymap.md
kmk_firmware-main/docs/en/contributing.md
kmk_firmware-main/docs/en/debugging.md
kmk_firmware-main/docs/en/Display.md
kmk_firmware-main/docs/en/dynamic_sequences.md
kmk_firmware-main/docs/en/easypoint.md
kmk_firmware-main/docs/en/encoder.md
kmk_firmware-main/docs/en/extension_statusled.md
kmk_firmware-main/docs/en/extension_stringy_keymaps.md
kmk_firmware-main/docs/en/extensions.md
kmk_firmware-main/docs/en/flashing.md
kmk_firmware-main/docs/en/Getting_Started.md
kmk_firmware-main/docs/en/handwiring.md
kmk_firmware-main/docs/en/holdtap.md
kmk_firmware-main/docs/en/international.md
kmk_firmware-main/docs/en/keycodes.md
kmk_firmware-main/docs/en/keys.md
kmk_firmware-main/docs/en/kmkpython_vs_circuitpython.md
kmk_firmware-main/docs/en/layers.md
kmk_firmware-main/docs/en/led.md
kmk_firmware-main/docs/en/lock_status.md
kmk_firmware-main/docs/en/macros.md
kmk_firmware-main/docs/en/media_keys.md
kmk_firmware-main/docs/en/midi.md
kmk_firmware-main/docs/en/modules.md
kmk_firmware-main/docs/en/mouse_jiggler.md
kmk_firmware-main/docs/en/mouse_keys.md
kmk_firmware-main/docs/en/Officially_Supported_Microcontrollers.md
kmk_firmware-main/docs/en/peg_rgb_matrix.md
kmk_firmware-main/docs/en/pimoroni_trackball.md
kmk_firmware-main/docs/en/pins56.jpg
kmk_firmware-main/docs/en/porting_to_kmk.md
kmk_firmware-main/docs/en/power.md
kmk_firmware-main/docs/en/pro_micro_pinout.png
kmk_firmware-main/docs/en/quickpin.md
kmk_firmware-main/docs/en/rapidfire.md
kmk_firmware-main/docs/en/README.md
kmk_firmware-main/docs/en/rgb.md
kmk_firmware-main/docs/en/scanners.md
kmk_firmware-main/docs/en/serialace.md
kmk_firmware-main/docs/en/spacemouse_keys.md
kmk_firmware-main/docs/en/spacemouse_status.md
kmk_firmware-main/docs/en/split_keyboards.md
kmk_firmware-main/docs/en/steno.md
kmk_firmware-main/docs/en/sticky_keys.md
kmk_firmware-main/docs/en/sticky_mod.md
kmk_firmware-main/docs/en/string_substitution.md
kmk_firmware-main/docs/en/support.md
kmk_firmware-main/docs/en/tapdance.md
kmk_firmware-main/hardware/itsy_bitsy_to_pro_micro.brd
kmk_firmware-main/hardware/itsy_bitsy_to_pro_micro.sch
kmk_firmware-main/hardware/LICENSE.md
kmk_firmware-main/hardware/README.md
kmk_firmware-main/kmk/__init__.py
kmk_firmware-main/kmk/bootcfg.py
kmk_firmware-main/kmk/hid.py
kmk_firmware-main/kmk/keys.py
kmk_firmware-main/kmk/kmk_keyboard.py
kmk_firmware-main/kmk/kmktime.py
kmk_firmware-main/kmk/scheduler.py
kmk_firmware-main/kmk/utils.py
kmk_firmware-main/kmk/extensions/__init__.py
kmk_firmware-main/kmk/extensions/international.py
kmk_firmware-main/kmk/extensions/led.py
kmk_firmware-main/kmk/extensions/lock_status.py
kmk_firmware-main/kmk/extensions/media_keys.py
kmk_firmware-main/kmk/extensions/peg_rgb_matrix.py
kmk_firmware-main/kmk/extensions/rgb.py
kmk_firmware-main/kmk/extensions/spacemouse_status.py
kmk_firmware-main/kmk/extensions/statusled.py
kmk_firmware-main/kmk/extensions/stringy_keymaps.py
kmk_firmware-main/kmk/extensions/display/__init__.py
kmk_firmware-main/kmk/extensions/display/builtin.py
kmk_firmware-main/kmk/extensions/display/sh1106.py
kmk_firmware-main/kmk/extensions/display/ssd1306.py
kmk_firmware-main/kmk/extensions/keymap_extras/keymap_jp.py
kmk_firmware-main/kmk/handlers/__init__.py
kmk_firmware-main/kmk/handlers/stock.py
kmk_firmware-main/kmk/hid_reports/nkro_keyboard.py
kmk_firmware-main/kmk/hid_reports/pointer.py
kmk_firmware-main/kmk/hid_reports/six_axis.py
kmk_firmware-main/kmk/modules/__init__.py
kmk_firmware-main/kmk/modules/adns9800.py
kmk_firmware-main/kmk/modules/autoshift.py
kmk_firmware-main/kmk/modules/capsword.py
kmk_firmware-main/kmk/modules/cg_swap.py
kmk_firmware-main/kmk/modules/combos.py
kmk_firmware-main/kmk/modules/dynamic_sequences.py
kmk_firmware-main/kmk/modules/easypoint.py
kmk_firmware-main/kmk/modules/encoder.py
kmk_firmware-main/kmk/modules/holdtap.py
kmk_firmware-main/kmk/modules/layers.py
kmk_firmware-main/kmk/modules/macros.py
kmk_firmware-main/kmk/modules/midi.py
kmk_firmware-main/kmk/modules/mouse_jiggler.py
kmk_firmware-main/kmk/modules/mouse_keys.py
kmk_firmware-main/kmk/modules/pimoroni_trackball.py
kmk_firmware-main/kmk/modules/potentiometer.py
kmk_firmware-main/kmk/modules/power.py
kmk_firmware-main/kmk/modules/rapidfire.py
kmk_firmware-main/kmk/modules/serialace.py
kmk_firmware-main/kmk/modules/spacemouse_keys.py
kmk_firmware-main/kmk/modules/split.py
kmk_firmware-main/kmk/modules/steno.py
kmk_firmware-main/kmk/modules/sticky_keys.py
kmk_firmware-main/kmk/modules/sticky_mod.py
kmk_firmware-main/kmk/modules/string_substitution.py
kmk_firmware-main/kmk/modules/tapdance.py
kmk_firmware-main/kmk/modules/analogin/__init__.py
kmk_firmware-main/kmk/modules/analogin/keys.py
kmk_firmware-main/kmk/quickpin/pro_micro/avr_promicro.py
kmk_firmware-main/kmk/quickpin/pro_micro/bitc_promicro.py
kmk_firmware-main/kmk/quickpin/pro_micro/boardsource_blok.py
kmk_firmware-main/kmk/quickpin/pro_micro/elite_pi.py
kmk_firmware-main/kmk/quickpin/pro_micro/frood.py
kmk_firmware-main/kmk/quickpin/pro_micro/helios.py
kmk_firmware-main/kmk/quickpin/pro_micro/kb2040.py
kmk_firmware-main/kmk/quickpin/pro_micro/liatris.py
kmk_firmware-main/kmk/quickpin/pro_micro/nice_nano.py
kmk_firmware-main/kmk/quickpin/pro_micro/sparkfun_promicro_rp2040.py
kmk_firmware-main/kmk/scanners/__init__.py
kmk_firmware-main/kmk/scanners/digitalio.py
kmk_firmware-main/kmk/scanners/encoder.py
kmk_firmware-main/kmk/scanners/keypad.py
kmk_firmware-main/kmk/transports/__init__.py
kmk_firmware-main/kmk/transports/pio_uart.py
kmk_firmware-main/tests/__init__.py
kmk_firmware-main/tests/keyboard_test.py
kmk_firmware-main/tests/mocks.py
kmk_firmware-main/tests/task.py
kmk_firmware-main/tests/test_autoshift.py
kmk_firmware-main/tests/test_capsword.py
kmk_firmware-main/tests/test_combos_sticky_keys.py
kmk_firmware-main/tests/test_combos.py
kmk_firmware-main/tests/test_holdtap.py
kmk_firmware-main/tests/test_kmk_extension_stringy_keymaps.py
kmk_firmware-main/tests/test_kmk_keyboard.py
kmk_firmware-main/tests/test_kmk_keys.py
kmk_firmware-main/tests/test_layers.py
kmk_firmware-main/tests/test_macros.py
kmk_firmware-main/tests/test_rapidfire.py
kmk_firmware-main/tests/test_scheduler.py
kmk_firmware-main/tests/test_sticky_keys.py
kmk_firmware-main/tests/test_sticky_mod.py
kmk_firmware-main/tests/test_string_substitution.py
kmk_firmware-main/tests/test_tapdance.py
kmk_firmware-main/user_keymaps/__init__.py
kmk_firmware-main/user_keymaps/noop.py
kmk_firmware-main/user_keymaps/TellNoLies/lily58.py
kmk_firmware-main/user_keymaps/ZFR_KBD/RP2.65-F.py
kmk_firmware-main/user_keymaps/dgriswo/__init__.py
kmk_firmware-main/user_keymaps/dgriswo/pyKey60.py
kmk_firmware-main/user_keymaps/dzervas/__init__.py
kmk_firmware-main/user_keymaps/dzervas/lab68.py
kmk_firmware-main/user_keymaps/jpconstantineau/__init__.py
kmk_firmware-main/user_keymaps/jpconstantineau/batreus44_colemak_dh.py
kmk_firmware-main/user_keymaps/jpconstantineau/gridmx47.py
kmk_firmware-main/user_keymaps/jpconstantineau/offsetmx43.py
kmk_firmware-main/user_keymaps/jpconstantineau/pyKey60.py
kmk_firmware-main/user_keymaps/jpconstantineau/vcolchoc44_colemak_dh.py
kmk_firmware-main/user_keymaps/jpconstantineau/vcolchoc44_qwerty.py
kmk_firmware-main/user_keymaps/jpconstantineau/vcolmx44.py
kmk_firmware-main/user_keymaps/kdb424/__init__.py
kmk_firmware-main/user_keymaps/kdb424/corne.py
kmk_firmware-main/user_keymaps/kdb424/luddite.py
kmk_firmware-main/user_keymaps/kdb424/nyquist_r2.py
kmk_firmware-main/user_keymaps/klardotsh/__init__.py
kmk_firmware-main/user_keymaps/klardotsh/iris_r2_nn.py
kmk_firmware-main/user_keymaps/klardotsh/iris_r2.py
kmk_firmware-main/user_keymaps/klardotsh/klarank_featherm4.py
kmk_firmware-main/user_keymaps/klardotsh/lily58.py
kmk_firmware-main/user_keymaps/rk463345/levinson_r2.py
kmk_firmware-main/util/aspell.en.pws
kmk_firmware-main/util/bootloader.py
kmk_firmware-main/util/compile.py
kmk_firmware-main/util/reset.py
kmk_firmware-main/util/spellcheck.sh
